.about {
  background-color: #c4d6ee;
  padding: 30px 50px;
  height: 500px;
  border-radius: 5px;
}

.about_title {
  align-items: center;
  text-align: center;
}

.about_content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.about_left {
  flex: 30%;
  max-width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
}

.about_left > h4 {
  margin-top: 10px;
  padding: 6px;
  color: rgb(64, 98, 237);
}

.about_left > p {
  line-height: 1;
  margin: 5px 0;
  text-align: left;
}

.profile_img {
  width: 180px;
  height: auto;
}

.about_right {
  flex: 70%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 35px;
}

.about_right p {
  /* line-height: 1; */
  margin: 5px 0;
}
