.about {
  background-color: #c4d6ee;
  padding: 40px 50px;
  height: auto;
  border-radius: 5px;
}

.about_title {
  align-items: center;
  text-align: center;
}

.about_content {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  margin-top: 40px;
  gap: 60px;
}

.about_left {
  flex: 35%;
  min-width: 260px;
  max-width: 350px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px 30px;
}

.about_left > h4 {
  margin-top: 10px;
  padding: 6px;
  color: rgb(64, 98, 237);
  align-items: center;
  text-align: center;
}

.about_left .about_left_info {
  margin-top: 7px;
  padding: 5px 0px;
}
.about_left .about_left_info > p {
  font-size: 15px;
  line-height: 1;
  padding: 5px 0;
  text-align: left;
}

.about_left_info_like {
  display: flex;
  align-items: center;
  padding: 7px 0px;
  gap: 5px;
  font-size: 15px;
}

.about_left .about_left_info_like > button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.about_left .about_left_info_like > p {
}

.profile_img {
  width: 190px;
  height: auto;
}

.about_right {
  padding: 5px 0px;
  flex: 65%;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  gap: 35px;
}
