.header {
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 248, 252);
  color: rgb(64, 98, 237);
  /* width: auto; */
  height: 70px;
  align-items: center;
  /* 세로를 기준으로 가운데 정렬 */
  padding: 0px 20px;

  position: sticky;
  top: 0;
}

.header .header_left {
}

.header .header_left > a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: rgb(64, 98, 237);
  padding: 0px 15px;
}

.header .header_right {
  display: flex;
  /* justify-content: flex-end; */
  /* padding-right: 20px; */
}

.header .header_right > a {
  text-decoration: none;
  text-align: center;
  color: rgb(64, 98, 237);
  padding: 0px 15px;
}
