.header {
  margin: 0 auto; /* 가운데 정렬 */
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 248, 252);
  color: rgb(64, 98, 237);
  /* width: auto; */
  height: 70px;

  position: sticky;
  top: 0;
}

.title {
  padding: 16px 20px;
}

.nav {
  display: flex;
  /* justify-content: flex-end; */
  padding-right: 20px;
}

.nav a {
  text-decoration: none;
  text-align: center;
  color: rgb(64, 98, 237);
  padding: 22px 15px;
}
