@font-face {
  font-family: paperlogy;
  src: url(../public/Paperlogy-4Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #f1f1f1;
  width: 100%;
  /* display: flex; */
}

#root {
  font-family: paperlogy;
  /* 폰트 추가 */
  background-color: white;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

/* 미디어 쿼리 사용 - 780px 이하일 때 적용 */
/* 반응형 웹 구현 */
@media screen and (max-width: 780px) {
  .goal_list,
  .about_content {
    flex-direction: column;
  }

  .goalData {
    padding: 20px;
  }

  .about_content {
    gap: 50px;
  }

  .about_left {
    margin: 0 auto;
  }

  .about_right {
    padding: 30px;
  }
}
